body {
    background-color: #e8ebf0;
}

#box_1 {
    position: relative;
    border-radius: 5px;
    background: white;
    padding: 10px;
    width: 380px;
    height: 220px;
    margin: 10px;
    color: black;
    text-align: left;
    font-size: 20px;
    
}

#box_2 {
    position: relative;
    border-radius: 5px;
    background: white;
    padding: 10px;
    width: 800px;
    height: 200px;
    margin: 10px;
    color: black;
    text-align: left;
    font-size: 20px;
}

#myPlot1 {
    position: relative;
    border-radius: 5px;
    background: white;
    width: 400px;
    height: 400px;
    margin: 10px;
    color: black;
    text-align: left;
    font-size: 20px;
}

#myPlot2 {
    position: relative;
    border-radius: 5px;
    background: white;
    width: 820px;
    height: 400px;
    margin: 10px;
    color: black;
    text-align: left;
    font-size: 20px;
}

#myPlot3 {
    position: relative;
    border-radius: 10px;
    background: white;
    width: 410px;
    height: 405px;
    margin: 10px;
    color: black;
    text-align: left;
    font-size: 20px;
}



h1 {
    color: blue;
}


/*Top navegation bar*/

body {
    margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #04AA6D;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}